html{
	overflow-y: hidden;
}
body{
	margin: 0;
}
#typer{
	background-image: url("pic/office.png");
	width: 1024px;
	height: 768px;
	position: absolute;
	display:none;

}
#startButton{
	background-image: url("pic/play-02.png");
	height: 130px;
	width: 90px;
	margin-top: 268px;
	margin-left: 388px;
	position: absolute;
	z-index: 2;
    filter: drop-shadow(1px 1px 5px #000000);
    cursor: pointer;
}

#credits{
	background-image: url("pic/credits.png");
	width: 1024px;
	height: 768px;
	position: absolute;
	display:none;
}


#typedtext{
	font-family: 'Special Elite', sans-serif;
	color: black;
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.6);
	width: 420px;
	height: 410px;
	margin-left: 500px;
	padding:30px;
	line-height: 150%;
	position: absolute;
	margin-top: 70px;
}
#movie{
	position: absolute;
	display: none;
}

#main{
	background-image: url("pic/background.png");
	width: 1024px;
	height: 768px;
	position: absolute;
	display:none;
}
#endScene{
	position: absolute;
	display: none;
}

#starter img{
	position: absolute;
}

#typedtext.enable{
	animation: disappear 4s 1s forwards;
}

#open-door{
	background-image: url("pic/closed-door.png");
	height:305px;
	width: 180px;
	margin-top: 157px;
	margin-left: 52px;
	position: absolute;
	display: none;
	z-index: 2;
}
#open-door:hover{
	background-image: url("pic/open-door.png");
	height:305px;
	width: 180px;
	margin-top: 157px;
	margin-left: 52px;
	position: absolute;
	display: none;
	z-index: 3;
}
#carmen{
	background-image: url("pic/shadow-carmen.png");
	height:519px;
	width: 215px;
	margin-top: 283px;
	margin-left: 815px;
	position: absolute;
	display: none;
	z-index: 4;
}

#carmen:hover{
	background-image: url("pic/carmen.png");
	height:519px;
	width: 215px;
	margin-top: 283px;
	margin-left: 815px;
	position: absolute;
	display: none;
	z-index: 4;
}
#wonderful{
	background-image: url("pic/shadow-wonderful.png");
	height:485px;
	width: 277px;
	margin-top: 294px;
	margin-left: 147px;
	position: absolute;
	display: none;
	z-index: 4;
}

#wonderful:hover{
	background-image: url("pic/wonderful.png");
	height:485px;
	width: 277px;
	margin-top: 294px;
	margin-left: 147px;
	position: absolute;
	display: none;
	z-index: 4;
}

#marlow{
	background-image: url("pic/shadow-marlow.png");
	height:609px;
	width: 287px;
	margin-top: 235px;
	margin-left: 353px;
	position: absolute;
	display: none;
	z-index: 5;
}

#marlow:hover{
	background-image: url("pic/marlow.png");
	height:609px;
	width: 287px;
	margin-top: 235px;
	margin-left: 353px;
	position: absolute;
	display: none;
	z-index: 5;
}

#eddie{
	background-image: url("pic/shadow-eddie.png");
	height: 606px;
	width: 279px;
	margin-top: 210px;
	margin-left: 568px;
	position: absolute;
	display: none;
	z-index: 4;
}
#eddie:hover{
	background-image: url("pic/eddie.png");
	height: 606px;
	width: 279px;
	margin-top: 210px;
	margin-left: 568px;
	position: absolute;
	display: none;
	z-index: 4;
}

#poster.enable{
	background-image: url("pic/poster.png");
	height: 272px;
	width: 143px;
	margin-top: 42px;
	margin-left: 621px;
	position: absolute;
	display: none;
	z-index: 2;
}

#poster{
	background-image: url("pic/poster-clean.png");
	height: 272px;
	width: 143px;
	margin-top: 42px;
	margin-left: 621px;
	position: absolute;
	display: none;
	z-index: 2;
}

#netflix{
	background-image: url("pic/netflix.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 801px;
	position: absolute;
	display: none;
	z-index: 2;
}
#netflix:hover{
	background-image: url("pic/netflix.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 801px;
	position: absolute;
	display: none;
	filter: drop-shadow(1px 1px 5px #ffffff);
	z-index: 2;
}

#imdb{
	background-image: url("pic/imdb.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 621px;
	position: absolute;
	display: none;
	z-index: 2;
}
#imdb:hover{
	background-image: url("pic/imdb.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 621px;
	position: absolute;
	display: none;
	filter: drop-shadow(1px 1px 5px #ffffff);
	z-index: 2;
}
#replay{
	background-image: url("pic/replay.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 449px;
	position: absolute;
	display: none;
	z-index: 2;
}
#replay:hover{
	background-image: url("pic/replay.png");
	height: 124px;
	width: 125px;
	margin-top: 520px;
	margin-left: 449px;
	position: absolute;
	display: none;
	filter: drop-shadow(1px 1px 5px #ffffff);
	z-index: 2;
}

@font-face { font-family: Special Elite; src: url('SpecialElite.TTF'); }

@keyframes disappear {

	100%{
		opacity: 0;
	}
}
